---
---

@media (max-width: 600px) {
    .nav__topbar { 
        ul {
            float: left;
            li {
                padding-left: 0;
                display: inline;
            }
            li:nth-child(odd) {
                display: none;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    .gallery {
        .images {
            img {
                width: 100% !important;
            }
        }
    }    
    .hero {
        display: none;
    }
    
    .about .container--regular::before {
        content: '';
        display: none;
    }

    .container--regular {
        max-width: 90%;
    }

    .nav__bar {
        .logo {
            text-align: center;
            float: none;  
        }
        
        a {
            text-align: center;
            margin: 0 auto;
        }

        ul {
            display: none;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    .gallery {
        .images {
            img {
                width: 48%;
            }
        }
    }
 }

@media (max-width: 1500px) { 
    .routes__box {
        margin-bottom: 30px;
    }
 }